APP_PORT=port-app
APP_ENV=development

DB_HOST=localhost
DB_PORT=port
DB_USER=user
DB_PASSWORD=password
DB_NAME=db_name
DB_SSLMODE=disable

JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_HOURS=24

CORS_ORIGINS=http://localhost:5173
